
.main-container {
    background-color: #000000;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    background-color: #1731b3; 
    color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    border: none; 
    background-color: bisque; 
    color: #fff; 
}

.form-check-input {
    transform: scale(1.2); 
    margin-right: 10px;
}

.form-check-label.text-muted {
    color: #777; 
    text-decoration: line-through; 
}
